<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Top {{num}} Richest Persons Around The Earth</title>
    <style>
      .navbar-brand.abs {
        /* position: absolute; */
        width: 100%;
        left: 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h1 style="color: white; word-wrap: break-word;" class="navbar-brand abs">
        Top {{num}} Richest Persons
      </h1>
    </nav>

    <div class="row mt-4 m-2 mr-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form class="d-flex mb-4">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🔍</span>
            <input
              class="form-control me-2"
              type="text"
              placeholder="Search Persons By Name"
              aria-label="Search"
              onkeyup="search_name()"
              id="searchbar"
            />
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row mt-4">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table
          class="table table-striped text-center"
          id="myTable"
          aria-labelledby="myTable"
        >
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">$ Total Net Worth</th>
              <th scope="col">Country</th>
              <th scope="col">$ Last Change</th>
              <th scope="col">$ YTD Change</th>
              <th scope="col">Industry</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in data.items() %}
            <tr>
              <th scope="row">{{value.rank}}</th>
              <td class="persons">
                <a href="https://www.bloomberg.com/billionaires/{{value.link}}"
                  >{{value.name}}</a
                >
              </td>
              <td>{{value.worth}}</td>
              <td>{{value.country}}</td>
              {% if '-' in value.last_changes %}
              <td style="color: #eb0025">{{value.last_changes}}</td>
              {% else %}
              <td style="color: #008555">{{value.last_changes}}</td>
              {% endif %} {% if '-' in value.ytds %}
              <td style="color: #eb0025">{{value.ytds}}</td>
              {% else %}
              <td style="color: #008555">{{value.ytds}}</td>
              {% endif %}
              <td>{{value.industry}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      function search_name() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchbar");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </body>
  <br />
  <hr />
  <footer>
    <div class="footer-copyright text-center py-3">
      Facing problem or have suggestions?<br /><a
        href="https://contact-ashutosh.herokuapp.com/"
        target="_blank"
        >Contact me</a
      >
      <br /><br />
      <form>
        <script
          src="https://checkout.razorpay.com/v1/payment-button.js"
          data-payment_button_id="pl_G8CVXpvU5cP4VP"
        ></script>
      </form>

      <br />Made with ❤️️ using Flask <br />© 2021
      <a href="http://ashutoshkrris.herokuapp.com/" target="_blank">
        Ashutosh Krishna</a
      >
    </div>
  </footer>
</html>
